/* Estilos globales */
body {
  font-family: "CentSchbkCyrill BT";
  margin: 0;
  padding: 0;
  background-image: url("/img/Fondo\ bienvenido.jpg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* Estilos para el encabezado */
header {
  background-color: white;
  color: #0d54a1;
  font-size: small;
  padding: 9px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-family: "Arial", sans-serif;
  font-size: 20px;
  margin-right: auto;
  margin-left: 13%;
  padding: 0px;
}

.logo-contenedor {
  display: flex;
  align-items: center;
  margin-right: 60px;
}

.logo-text {
  color: rgb(83, 79, 79);
  font-family: "CentSchbkCyrill BT";
  font-size: 19px;
  margin-left: auto;
  text-align: center;
  padding: 3%;
}

/* Menú desplegable */
/*estilo del botón del menú */
.menu {
  position: relative;
  display: inline-block;
  margin-left: 1, 2%;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

.menu button {
  background-color: white;
  color: black;
  padding: 15px;
  font-size: 15px;
  border: none;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}

.menu button:hover {
  background-color: #0056b3;
  color: white;
}

/*Contenedor del  menú */
.menu-contenido {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 9px;
}

/* Intem del menú principal*/
.items-menu {
  position: relative;
}

/* submenú */
.submenu-button {
  padding: 12px;
  width: 100%;
  border: none;
  cursor: pointer;
  text-align: left;
}

.submenu-button.active {
  background: #0056b3; /* Cambia el color de fondo cuando está desplegado */
  color: white; /* Cambia el color del texto */
}

/*contenedor del Submenú*/
.submenu-contenido {
  display: none;
  background-color: #f1f1f1;
  padding-left: 20px;
}

.submenu-contenido a {
  color: rgb(0, 0, 0);
  padding: 10px;
  display: block;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

/* cambiar de color en cada item al pasar el mouse sobre el submenú */
.submenu-contenido a:hover {
  background-color: #ddd;
}

/*muestra el menú al hacer clic*/
.show {
  display: block;
}

/*cerrar sesión*/
.cerrar_sesion {
  display: inline;
  background-color: #f1f1f1;
  padding-left: 0px;
}

.cerrar_sesion a {
  color: #0056b3;
  padding: 10px;
  display: block;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: right;
  margin-right: 13px;
}

.cerrar_sesion a:hover {
  text-decoration: underline;
}
.cerrar_sesion a span {
  margin-right: 3px;
}

/*Buscador de paciente por cédula*/
.buscador {
  display: block;
  justify-content: flex-start; /* Alinea buscador a la izquierda */
  align-items: flex-start; /* Alinea los buscador en la parte superior */
  padding: 0px;
  position: absolute; /* Posiciona el contenedor de manera absoluta */
  gap: 10px;
  top: 15%; /* Lo coloca en la parte superior */
  left: 16%; /* Lo coloca en la parte izquierda */
  margin: 10px; /* Margen para separarlo del borde */
}

.Documento {
  display: flex;
  position: absolute;
  bottom: 40%;
  font-size: 15px;
  font-family: "Arial", sans-serif;
  font-weight: 600px;
  font-style: italic;
  white-space: nowrap;
}
.buscarHistoria {
  padding: 6px;
  border: 1px solid #1a1919;
  border-radius: 5px;
}

.botonBuscar {
  padding: 6px 7px 6px 6px; /* Aumenta el padding para mejor apariencia */
  font-size: 13px; /* Tamaño de fuente ligeramente reducido */
  font-weight: bold;
  border: none;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  background-color: #044181;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.botonBuscar:hover {
  background-color: #0056b3;
  transform: scale(1.05); /* Efecto de ampliación */
}

.botonBuscar:active {
  transform: scale(0.95); /* Reduce ligeramente al hacer clic */
}

.icon-magnifying-glass {
  float: left;
  color: white;
  position: relative;
  margin-right: 3px;
  font-size: 15px;
}
/* Formulario */
.oculto {
  display: none;
}

.infoPaciente {
  width: 70%;
  border-radius: 10px;
  margin: auto;
  margin-top: 90px;
  background-color: white;
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: #021830;
  text-align: center;
  padding: 5px 5px 5px 5px;
  box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.3);
}

.detallePaciente h3 {
  color: #02274e;
  font-family: "Franklin Gothic Medium";
  font-style: italic;
  font-size: 20px;
}

.detallePaciente p {
  color: #070707;
  font-family: "Franklin Gothic Book";
  font-weight: 900;
  font-size: 16px;
}

/*Cuadro de citas agendadas*/
.cuadroCitas {
  width: 70%;
  border-radius: 10px;
  margin: auto;
  margin-top: 40px;
  background-color: white;
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: #021830;
  text-align: center;
  padding: 5px 5px 5px 5px;
  box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.3);
}
.cuadroCitas h3 {
  font-family: "Arial", sans-serif;
  font-size: 20px;
  color: #0d54a1;
  font-weight: bold;
  text-align: left;
  padding: 0px 5px 5px 10px;
}

.cuadroCitas table {
  width: 93%;
  position: relative;
  margin: auto;
  text-align: center;
  border-spacing: 0;
  border-left: 1px solid;
  border-color: #1a1919;
}

.cuadroCitas th {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  background-color: #0f3864;
  color: white;

  height: 40px;
}

.cuadroCitas td {
  background-color: #ece8fa;
  font-size: 14px;
  font-family: Arial, "sans-serif";
  font-weight: 550;
  text-align: center;
  border-right: 1px solid;
  border-bottom: 1px solid;

  border-color: #1a1919;
}

td.motivocita {
  text-align: justify;
  padding: 14px 5px 3px 5px;
  height: auto;
  max-width: 400px; /* Ajusta este valor según tu tabla */

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  line-clamp: 4;
  overflow: hidden;
  cursor: pointer;
}

.motivocita.expandido {
  -webkit-line-clamp: unset;
  overflow: visible;
}

td.acciones {
  padding: 5px 5px 5px 5px;
}

/* Estilo base para los botones */
/* Botón modificar */
.modificar {
  padding: 4px 4px 4px 5px; /* Aumenta el padding para mejor apariencia */
  font-size: 13px; /* Tamaño de fuente ligeramente reducido */
  font-weight: bold;
  border: 1px solid;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  background-color: rgba(100, 160, 238, 0.788);
}

.modificar:hover {
  background-color: #2373cf; /* Azul más claro */
  transform: scale(1.02); /* Efecto de ampliación */
}
/* Botón Cancelar*/
.cancelar {
  padding: 4px 4px 4px 5px; /* Aumenta el padding para mejor apariencia */
  font-size: 13px; /* Tamaño de fuente ligeramente reducido */
  font-weight: bold;
  border: 1px solid;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  background-color: rgb(224, 224, 224);
}

.cancelar:hover {
  background-color: rgb(182, 182, 182); /* Azul más claro */
  transform: scale(1.02); /* Efecto de ampliación */
}

/* Efecto de clic */
.modificar:active,
.cancelar:active {
  transform: scale(0.95); /* Reduce ligeramente al hacer clic */
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-contenido {
  background: white;
  padding: 25px;
  border-radius: 9px;
  width: 90%;
  max-width: 500px;
  position: relative;
}

.close-modal {
  position: absolute;
  top: 25px;
  right: 15px;
  font-size: 15px;
  cursor: pointer;
  color: #343a40;
}

.close-modal:hover,
.btn-primary:hover {
  transform: scale(1.04);
}

.close-modal:active,
.btn-primary:active {
  transform: scale(1);
}

.modal h2 {
  margin-bottom: 20px;
  color: #4a6fa5;
  font-size: 23px;
  font-family: "Arial", sans-serif;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-family: "Arial", sans-serif;
  font-weight: bold;
}

.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  font-family: Arial, "sans-serif";
}

/*icono de fechas*/
.icon-calendario {
  position: relative;
  display: inline-block;
}

.icon-calendario input[type="date"] {
  font-size: 1rem;
  font-family: Arial, "sans-serif";
  width: 325%;
  height: 7%;
  padding: 10px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  background-color: rgb(255, 254, 254);
}

.icon-calendario input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0; /* Ocultar icono*/
}

.icon-calendario::after {
  content: "";
  position: absolute;
  top: 48%;
  left: 470px;
  transform: translateY(-50%);
  background-image: url("/public/img/calendary.png"); /* URL del icono personalizado */
  background-size: 23px 23px;
  width: 23px;
  height: 23px;
  pointer-events: none; /* No permite interactuar con el ícono */
}

/*icono hora de cita*/
.icon-hora {
  position: relative;
  display: inline-block;
}

.icon-hora input[type="time"] {
  font-size: 1rem;
  font-family: Arial, "sans-serif";
  width: 360%;
  height: 7%;
  padding: 10px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  background-color: rgb(255, 254, 254);
}

.icon-hora input[type="time"]::-webkit-calendar-picker-indicator {
  opacity: 0; /* Ocultar icono*/
}

.icon-hora::after {
  content: "";
  position: absolute;
  top: 48%;
  left: 470px;
  transform: translateY(-50%);
  background-image: url("/public/img/reloj1.png"); /* URL del icono personalizado */
  background-size: 23px 23px;
  width: 23px;
  height: 23px;
  pointer-events: none; /* No permite interactuar con el ícono */
}

.form-group textarea {
  resize: vertical;
  min-height: 80px;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.btn-primary {
  background-color: #4a6fa5;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-secondary {
  background-color: #6c757d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Estilos para el pie de página */
footer {
  background-color: #0d54a1;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: center;
  padding: 20px;
  position: fixed;
  width: 100%;
  bottom: 0;
  display: grid;
}
