* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: "Arial", sans-serif;
}

/* Fondo de la página */
body {
  background-image: url("/img/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  image-resolution: 1366px 766px;
  overflow: hidden;
}

/* Contenedor principal del login */
.login-container {
  display: grid;
  width: 380px;
  backdrop-filter: blur(7px);
  margin: 100% auto; /* Centrado horizontal y margen desde la parte superior */
  margin-top: 4%;
  border-radius: 0px;
  border-color: #0d54a1;
  border-width: 2.3px;
  border-style: solid;
  text-align: center; /* Para centrar los elementos dentro del contenedor */
}

/* Cuadro de login */
.login-box {
  background-color: #0d54a1; /* Color azul */
  color: white; /* Texto blanco */
  padding: 10px; /* Espacio alrededor del texto */
  border-radius: 0px; /* Bordes redondeados */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px; /* Espacio debajo del título */
}

.logo {
  width: 40px; /* Ajusta el tamaño del logo */
  height: auto; /* Mantén la proporción original de la imagen */
}

.h3_psicogestor {
  margin-left: 10px;
}

/* Estilos de los campos de entrada */
.input-group {
  margin-bottom: 14px;
  text-align: justify;
  margin-left: 30px;
}

label {
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
  color: #0a0404;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 90%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #130d8a;
  font-size: 14px;
}

button {
  width: 90%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  color: white;
  background-color: #0056b3;
}

/* Botón cerrar mensaje */
.btn-cerrar {
  position: relative;
  left: 9%;
  padding: 4.2px 4.3px 4.2px 5.9px; /* Aumenta el padding para mejor apariencia */
  font-size: 20px; /* Tamaño de fuente ligeramente reducido */
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  background-color: #f9faf900;
}

.icon-cross {
  color: rgb(48, 44, 44);
}

.btn-cerrar:hover {
  background-color: #e70914; /* Azul más claro */
  transform: scale(1.05); /* Efecto de ampliación */
}
.icon-cross:hover {
  color: rgb(248, 246, 246);
  transform: scale(1.05);
}

/* Enlace ya tiene cuenta */
.tiene_cuenta {
  margin-top: 10px;
}

.tiene_cuenta a {
  font-size: 14px;
  color: #1a33d7;
  text-decoration: none;
  margin-left: 0px;
  position: absolute;
}

.tiene_cuenta a:hover {
  text-decoration: underline;
  color: #130d8a;
}
.tiene_cuenta h6 {
  font-size: 12px;
  color: white;
  position: absolute;
  text-align: center;
  margin-left: 78px;
}
