<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bienvenida_PsicoGESTOR</title>
    <link rel="stylesheet" href="/estilos/Bienvenido.css" />
    <link rel="stylesheet" href="/estilos/fonts.css" />
  </head>

  <body>
    <!-- Encabezado -->
    <header>
      <!-- Munú-->
      <div class="menu">
        <button id="MenuButton">☰</button>
        <div id="myMenu" class="menu-contenido">
          <div class="items-menu">
            <button class="submenu-button">Paciente</button>
            <div class="submenu-contenido">
              <a href="/regPaciente">Registrar Paciente</a>
            </div>
          </div>
          <div class="items-menu">
            <button class="submenu-button">Gestionar Citas</button>
            <div class="submenu-contenido">
              <a href="/crearCita">Crear Cita</a>
              <a href="Consultar Cita.html">Consultar Cita</a>
            </div>
          </div>
          <div class="items-menu">
            <button class="submenu-button">Historial de Pacientes</button>
            <div class="submenu-contenido">
              <a href="Buscar Historia.html">Historia Clinica</a>
              <a href="Autorizaciones.html">Autorizaciones</a>
              <a href="Tratamientos.html">Tratamientos</a>
            </div>
          </div>
          <div class="items-menu">
            <button class="submenu-button">Notas Clínicas</button>
            <div class="submenu-contenido">
              <a href="Consultar Notas.html">Consultar Notas</a>
            </div>
          </div>
          <div class="items-menu">
            <button class="submenu-button">Progreso de Paciente</button>
            <div class="submenu-contenido">
              <a href="Buscar Paciente.html">Buscar Paciente</a>
            </div>
          </div>
          <div class="cerrar_sesion">
            <a href="/index">
              <span class="icon-log-out"></span>Cerrar Sesión</a
            >
          </div>
        </div>
      </div>

      <!-- dejarlo para tomar como ejemplo para los iconos pequeños
            <a href="#"
              ><span class="icon-briefcase"></span>Gestionar Citas
              <span class="gest icon-chevron-small-down"></span
            ></a>
            <ul id="submenu" class="sub-contenido">
              <a href="#">subElemento #1</a>
              <a href="#">subElemento #2</a>
              <a href="#">subElemento #3</a>
              <a href="#">subElemento #4</a>
            </ul>
          </div>
          <a href="#"
            ><span class="icon-folder"></span>Historial de Pacientes</a
          >
          <a href="#"><span class="icon-open-book"></span>Notas Clínicas</a>
          <a href="#"
            ><span class="icon-area-graph"></span>Progreso de Pacientes</a
          >
        </div>
      </div>
                     -->

      <!-- titulo de bienvenido y logo de encabezado-->
      <h1>Bienvenido <%=datos.nomusu.toUpperCase() %></h1>
      <div class="Logo-contenedor">
        <a href="/Bienvenido">
          <img
            title="Inicio Psicogestor"
            src="img/Logo psicogestor.png"
            alt="logo"
            width="50"
            style="
              vertical-align: middle;
              right: 16%;
              display: flex;
              position: absolute;
              padding: auto;
              top: 11px;
            "
        /></a>
        <span class="logo-text"><b>PsicoGESTOR</b></span>
      </div>
    </header>

    <!-- Pie de página -->
    <footer>
      Ha iniciado sesión como <%=datos.useusu.toUpperCase()%>
      <span id="fecha"></span>
    </footer>

    <script>
      //obtener y mostrar la fecha en el pie de página
      const fechaActual = new Date();
      const opcionesFecha = { year: "numeric", month: "long", day: "numeric" };
      document.getElementById("fecha").textContent =
        fechaActual.toLocaleDateString("es-ES", opcionesFecha);
    </script>
    <!--calendario-->

    <div class="calendario">
      <h2>Calendario</h2>
      <div class="header">
        <button id="prevMonth">
          <i class="icon-triangle-left"></i>
        </button>
        <h3 id="monthYear">Octubre 2024</h3>
        <button id="nextMonth"><i class="icon-triangle-right"></i></button>
      </div>
      <ol class="days-grid">
        <div class="day-name">Lun</div>
        <div class="day-name">Mar</div>
        <div class="day-name">Mié</div>
        <div class="day-name">Jue</div>
        <div class="day-name">Vie</div>
        <div class="day-name">Sáb</div>
        <div class="day-name">Dom</div>
        <!-- Los días se generarán dinámicamente con JavaScript -->
      </ol>
      <div class="nex-cita">
        <img
          src="/img/Mira blue.png"
          alt="Próxima"
          width="30"
          style="vertical-align: middle"
        />
        Citas Próximas
      </div>
      <div class="cancel-cita">
        <img
          src="/img/mira red.png"
          alt="Canceladas"
          width="27"
          style="vertical-align: middle"
        />
        Citas Canceladas
      </div>
    </div>
    <script src="/JS/calendario.js"></script>
    <script src="/JS/menú-y-Submenú.js"></script>
  </body>
</html>
