<!DOCTYPE >
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="Cache-Control"
      content="no-cache, no-store, must-revalidate"
    />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crear Cita - PsicoGESTOR</title>
    <link rel="stylesheet" href="estilos/Crear Cita.css" />
    <link rel="stylesheet" href="/estilos/fonts.css" />
  </head>

  <body>
    <% if(typeof mensaje !== "undefined" && mensaje) { %>
    <div
      id="mensaje"
      style="
        color: rgb(8, 17, 94);
        display: flex;
        justify-content: center; /* Espacio entre el texto y el botón */
        align-items: center; /* Centra verticalmente */
        position: fixed; /* Fija el mensaje en la pantalla */
        top: 0; /* Lo coloca en la parte superior */
        left: 50%; /* Lo mueve al centro horizontal */
        transform: translateX(-50%); /* Ajusta el centrado */
        background-color: #e8e9f5;
        width: 30%; /* Ancho del mensaje */
        padding: 10px;
        border: 1px solid #4c56af;
        border-radius: 5px;
        margin-top: 30px; /* Espacio desde la parte superior */
        z-index: 1000; /* Asegura que esté por encima de otros elementos */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
      "
    >
      <p style="margin: 0; text-align: center"><%= mensaje %></p>
      <div class="btn-cerrar">
        <span class="icon-cross" title="Cerrar" id="cerrarMensaje"></span>
      </div>
    </div>
    <% } %>

    <!-- Encabezado -->
    <header>
      <!-- Munú-->
      <div class="menu">
        <button id="MenuButton">☰</button>
        <div id="myMenu" class="menu-contenido">
          <div class="items-menu">
            <button class="submenu-button">Paciente</button>
            <div class="submenu-contenido">
              <a href="/regPaciente">Registrar Paciente</a>
            </div>
          </div>
          <div class="items-menu">
            <button class="submenu-button">Gestionar Citas</button>
            <div class="submenu-contenido">
              <a href="/crearCita">Crear Cita</a>
              <a href="/buscar_cita">Consultar Cita</a>
            </div>
          </div>
          <div class="items-menu">
            <button class="submenu-button">Historial de Pacientes</button>
            <div class="submenu-contenido">
              <a href="/historiaClinica">Historia Clinica</a>
              <a href="Autorizaciones.html">Autorizaciones</a>
              <a href="Tratamientos.html">Tratamientos</a>
            </div>
          </div>
          <div class="items-menu">
            <button class="submenu-button">Notas Clínicas</button>
            <div class="submenu-contenido">
              <a href="Consultar Notas.html">Consultar Notas</a>
            </div>
          </div>
          <div class="items-menu">
            <button class="submenu-button">Evolución Clínica</button>
            <div class="submenu-contenido">
              <a href="Buscar Paciente.html">Evolución de pacientes</a>
            </div>
          </div>
          <div class="cerrar_sesion">
            <a href="#" id="logoutBtn">
              <span class="icon-log-out"></span>Cerrar Sesión</a
            >
          </div>
        </div>
      </div>

      <!-- titulo de bienvenido y logo de encabezado-->
      <h1>Crear Cita</h1>
      <div class="Logo-contenedor">
        <a href="/Bienvenido"
          ><img
            title="Inicio Psicogestor"
            src="img/Logo psicogestor.png"
            alt="logo"
            width="50"
            style="vertical-align: middle"
        /></a>
        <span class="logo-text"><b>PsicoGESTOR</b></span>
      </div>
    </header>

    <!-- Cuestionario para agendar cita-->
    <form id="form-cita" action="/crearCita" method="post">
      <div class="container">
        <!-- Datos del Paciente -->
        <fieldset class="cuadro-formulario">
          <legend class="legenda"><b>Datos del Paciente</b></legend>
          <br />

          <div class="grid-container">
            <!-- primera coluna-->
            <div class="form-group">
              <label for="nombre"><b>Nombre:</b></label>
              <input
                type="text"
                id="nombre"
                name="nombre"
                placeholder="Nombre"
                disabled
              />
            </div>

            <div class="form-group">
              <label for="primerApellido"><b>Primer Apellido:</b></label>
              <input
                type="text"
                id="primerApellido"
                name="primerApellido"
                placeholder="Primer Apellido"
                disabled
              />
            </div>

            <div class="form-group">
              <label for="segundoApellido"><b>Segundo Apellido:</b></label>
              <input
                type="text"
                id="segundoApellido"
                name="segundoApellido"
                placeholder="Segundo Apellido"
                disabled
              />
            </div>

            <!--segunda columna-->

            <div class="form-group">
              <div>
                <label><b>Sexo:</b></label>
              </div>
              <div class="radio-group">
                <label for="masculino">
                  <input
                    type="radio"
                    id="masculino"
                    name="sexo"
                    value="masculino"
                    disabled
                  />
                  Masculino
                </label>
                <label for="femenino">
                  <input
                    type="radio"
                    id="femenino"
                    name="sexo"
                    value="femenino"
                    disabled
                  />
                  Femenino
                </label>
              </div>
            </div>
            <div class="form-tipDocumento">
              <label for="tipoId"><b>Tipo de Identificación:</b></label>
              <div class="icon-seleccion">
                <select id="tipoId" name="tipoId" required>
                  <option value="seleccione">Seleccione</option>
                  <option value="cc">Cédula de Ciudadanía</option>
                  <option value="ti">Tarjeta de Identidad</option>
                  <option value="ce">Cédula de Extranjería</option>
                  <option value="pasaporte">Pasaporte</option>
                </select>
              </div>
            </div>

            <div class="form-cedula">
              <label for="numeroId"><b>Número de Documento:</b></label>
              <input
                type="text"
                id="numeroId"
                name="numeroId"
                placeholder="Cosultar Documento"
                required
              />
            </div>
            <!--tercera columna-->
            <div class="form-group">
              <label for="fechaNacimiento"><b>Fecha de Nacimiento:</b></label>
              <div class="icon-calendario">
                <input
                  type="date"
                  id="fechaNacimiento"
                  name="fechaNacimiento"
                  disabled
                />
              </div>
            </div>

            <div class="form-group">
              <label for="lugarNacimiento"><b>Lugar de Nacimiento:</b></label>
              <input
                type="text"
                id="lugarNacimiento"
                name="lugarNacimiento"
                placeholder="Lugar de nacimiento"
                disabled
              />
            </div>

            <div class="form-group">
              <label for="estadoCivil"><b>Estado Civil:</b></label>
              <div class="icon-seleccion">
                <select id="estadoCivil" name="estadoCivil" disabled>
                  <option value="seleccione">Seleccione</option>
                  <option value="soltero">Soltero</option>
                  <option value="casado">Casado</option>
                  <option value="ulibre">Unión Libre</option>
                  <option value="divorciado">Divorciado</option>
                  <option value="viudo">Viudo</option>
                </select>
              </div>
            </div>
          </div>

          <br />
        </fieldset>
      </div>

      <!-- Agendamiento de Cita -->
      <div class="container">
        <fieldset class="cuadro-formulario">
          <legend class="legenda"><b>Agendamiento de Cita</b></legend>
          <br />

          <input type="hidden" id="id_paciente" name="id_paciente" value="" />

          <div class="grid-container2" id="campos-cita" style="display: none">
            <div class="form-group">
              <label for="fechaCita"><b>Fecha de Cita:</b></label>
              <div class="icon-calendario">
                <input type="date" id="fechaCita" name="fechaCita" required />
              </div>
            </div>

            <div class="form-group">
              <label for="horaCita"><b>Hora de Cita:</b></label>
              <div class="icon-hora">
                <input type="time" id="horaCita" name="horaCita" required />
              </div>
            </div>

            <div class="form-group">
              <label for="motivoCita"><b>Motivo de la Cita:</b></label>

              <textarea
                id="motivoCita"
                name="motivoCita"
                rows="4"
                maxlength="500"
                required
              ></textarea>
            </div>
          </div>

          <br />
        </fieldset>
      </div>
      <div class="buton-contenedor">
        <button
          class="btn-buscar"
          type="button"
          id="btnBuscar"
          onclick="buscarPaciente()"
          title="Buscar"
        >
          <i class="icon-magnifying-glass"></i>
        </button>
        <button
          type="submit"
          title="Guardar"
          class="btn-guardar"
          id="btnGuardar"
          style="display: none"
        >
          <i class="icon-save"></i>
        </button>

        <button
          type="reset"
          onclick="limpiarFormulario() "
          title="Limpiar"
          class="btn-limpiar"
        >
          <i class="icon-clipboard"></i>
        </button>
      </div>
    </form>
    <br />

    <!-- Pie de página -->
    <footer>
      <% if (typeof datos !== 'undefined' && datos && datos.useusu) { %> Ha
      iniciado sesión como <%= datos.useusu.toUpperCase() %> <% } else { %>
      <script>
        window.location.href = "/";
      </script>
      <% } %>
      <span id="fecha"></span>
    </footer>

    <script>
      //obtener y mostrar la fecha en el pie de página
      const fechaActual = new Date();
      const opcionesFecha = { year: "numeric", month: "long", day: "numeric" };
      document.getElementById("fecha").textContent =
        fechaActual.toLocaleDateString("es-ES", opcionesFecha);
    </script>

    <script>
      // Evita que el botón atrás muestre páginas cacheadas
      window.onload = function () {
        if (!window.performance || performance.navigation.type === 2) {
          location.reload(true);
        }
      };
    </script>

    <script src="/JS/menú-y-Submenú.js"></script>
    <script src="/JS/cerrarMensaje.js"></script>
    <script src="/JS/citas.js"></script>
    <script src="/JS/cerrarSesion.js"></script>
  </body>
</html>
